In [ ]:
import sqlite3
con = sqlite3.connect("tutorial.db")

cursor = con.cursor()

#cur.execute('CREATE TABLE movie(id,nome,valor, genero)') #Criar tabela

cursor.execute ("insert into movie(id,nome,valor, genero) values(4,'superman', 13.50, 'super heroi')")

con.commit()
con.close()

In [ ]:
#Ver dados em DF:

import sqlite3
import pandas as pd

con = sqlite3.connect("tutorial.db")
query= """
select * from movie"""

df = pd.read_sql(query,con)
con.close()
df.head()

Comando BÃ¡sico-DB Outra pasta

In [ ]:
import sqlite3
con = sqlite3.connect(r"C:\Users\manue\Downloads\Pasta-SGDBS/Teste.db")

cursor = con.cursor()
cursor.execute('CREATE TABLE movie2(id,nome,valor, genero)') #Criar tabela
cursor.execute ("insert into movie2(id,nome,valor, genero) values(4,'superman', 13.50, 'super heroi')")

con.commit()
con.close()

In [ ]:
#Ver dados em DF pasta externa:

import sqlite3
import pandas as pd

caminho_db = r"C:\Users\manue\Downloads\Pasta-SGDBS/Teste.db"
con2 = sqlite3.connect(caminho_db)
query2= """
select * from movie2    """

df2 = pd.read_sql(query2,con2)
con2.close()
df2.head()