In [ ]:
#Criação Banco de Dados:
#01.CRIAR BANCO DE DADOS
#03.CRIAR  TABELA(AS)
#04.COMENTAR A CRIAÇÃO DE TABELAS(SOMENTE EXECUTAR 1 VEZ)
import sqlite3
con = sqlite3.connect("cadastro_produto.db")

cursor = con.cursor()   
'''cursor.execute("""CREATE TABLE 
produto (id,nome,valor,fornecedor,categoria,responsavel_cadastro)""")'''  #Criar tabela e depois comentar

con.commit()
con.close()

In [9]:
import tkinter as tk
import tkinter.messagebox as messagebox
import sqlite3 
import pandas as pd
janela = tk.Tk()


def cadastrar_produto():
    #Capturar os dados:
    id_produto=entry_id.get()
    nome_produto=entry_nome.get()
    valor_produto=entry_valor.get()
    fornecedor_produto=entry_fornecedor.get()
    categoria_produto=entry_categoria.get()
    responsavel_cadastro=entry_cadastro.get()

   #Inserte em banco de dados:
    con = sqlite3.connect("cadastro_produto.db")
    cursor = con.cursor()
    cursor.execute("""insert into produto values (?,?,?,?,?,?)""",
                        (id_produto,nome_produto,valor_produto,fornecedor_produto,categoria_produto,responsavel_cadastro))
    con.commit()
    con.close()

    #Delete dados do usuário nas caixas de texto:
    entry_id.delete(0,'end')
    entry_nome.delete(0,'end')
    entry_valor.delete(0,'end')
    entry_fornecedor.delete(0,'end')
    entry_categoria.delete(0,'end')
    entry_cadastro.delete(0,'end')
   
    messagebox.showinfo('Sucesso','Produto Cadastrado ')
    #janela.destroy() #Fechar a janela

def salvar_excel():

    con = sqlite3.connect('cadastro_produto.db')
    query= """ select * from produto """
    df = pd.read_sql(query,con)
    df.to_excel('Produto.xlsx',index=False)
    messagebox.showinfo('Sucesso','Excel Exportado ')


janela.title('Cadastro de produto')

#Id Produto:
label_id = tk.Label(janela, text="ID do Produto").grid(row=1,column=1,padx=10,pady=10)
entry_id = tk.Entry(janela, width=30)              
entry_id.grid(row=1,column=2,padx=10,pady=10)

#Nome Produto:
label_nome = tk.Label(janela, text="Nome do Produto").grid(row=2,column=1,padx=10,pady=10)
entry_nome = tk.Entry(janela, width=30)               
entry_nome.grid(row=2,column=2,padx=10,pady=10)

#Valor Produto:
label_valor = tk.Label(janela, text="Valor do Produto").grid(row=3,column=1,padx=10,pady=10)
entry_valor = tk.Entry(janela, width=30)               
entry_valor.grid(row=3,column=2,padx=10,pady=10)

#Fornecedor:
label_fornecedor = tk.Label(janela, text="Fornecedor do Produto").grid(row=4,column=1,padx=10,pady=10)
entry_fornecedor = tk.Entry(janela, width=30)                  
entry_fornecedor.grid(row=4,column=2,padx=10,pady=10)

#Categoria:
label_categoria = tk.Label(janela, text="Categoria do Produto").grid(row=5,column=1,padx=10,pady=10)
entry_categoria =  tk.Entry(janela, width=30)                
entry_categoria.grid(row=5,column=2,padx=10,pady=10)

#Responsável cadastro:
label_cadastro = tk.Label(janela, text="Responsável pelo Cadastro").grid(row=6,column=1,padx=10,pady=10)
entry_cadastro = tk.Entry(janela, width=30)                          
entry_cadastro.grid(row=6,column=2,padx=10,pady=10)

#Botão de cadastro:
bt_cadastro = tk.Button(janela, text="Cadastrar Produto",width=25,command=cadastrar_produto)
bt_cadastro.grid(row=7,column=1,padx=10,pady=10)

#Botão gerar  arquivo Excel:
bt_gerar_excel = tk.Button(janela, text="Gerar Excel",width=25,command=salvar_excel)
bt_gerar_excel.grid(row=7,column=2,padx=10,pady=10)

janela.mainloop()

In [8]:
#Visualização dos  dados no banco de dados(SQLite):

import sqlite3
import pandas as pd

con = sqlite3.connect('cadastro_produto.db')
query= """ select * from produto """

df = pd.read_sql(query,con)
df.to_excel('Produto.xlsx',index=False)
con.close()

df.head()

,id,nome,valor,fornecedor,categoria,responsavel_cadastro
0,1,Mouse Gamer,55.90,Pedro,Eletrônico,João
1,2,Teclado sem-mecanico,220.50,Alexrandre,Eletrônico,Arhut